@import "../../styles//Variables.scss";


.AddCategory {
  margin-bottom: 100px;
  h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  form {
    border: $border;
    padding: 30px;
    border-radius: 10px;
    input, select, textarea {
      background-color: $secondary-color;
      color: $font-color !important;
      &:focus{
        background-color: $secondary-color;
      }
    }
  }
}