@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  color: $font-color;
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
}