@import "../../styles//Variables.scss";

.Navbar {
  .navbar {
    background-color: $secondary-color !important;
    
    .navbar-brand {
      color: $font-color;
    }
    .nav-item {
      .nav-link {
        color: $font-color;
        font-weight: 500;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .username {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .fa-sign-out-alt{
      color: rgb(170, 9, 9);
    }

  }
}